<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alex Quang</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
	<link rel="stylesheet" href="/content/css/styles.css">
</head>
<body id="top">
	<div class="fixed-content-wrapper">
		<nav ng-controller="navCtrl as vm" role="navigation">
			<ul id="navbar-brand">
				<li>
					<a ui-sref="home">Alex Quang</a>
				</li>
			</ul>
			<ul>
				<li title="Navigation Menu" role="mobile-navigation"  class="mobile-navigation-btn" ng-class="{ 'open-menu' : vm.openMenu }">
					<a href="javascript:void(0)" ng-click="vm.showLinks()" ng-if="vm.openMenu == false"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
					<a href="javascript:void(0)" ng-click="vm.showLinks()" ng-if="vm.openMenu"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
				</li>
				<li ui-sref-active="active" class="mobile-only" ng-class="{ 'inactive' : vm.currentUrl('/') === false, 'mobile-display' : vm.mobileScreen == true }"><a ui-sref="home">Home</a></li>
				<li ui-sref-active="active" ng-class="{ 'inactive' : vm.currentUrl('/portfolio') === false, 'mobile-display' : vm.mobileScreen == true }"><a ui-sref="portfolio">Portfolio</a></li>
				<li ui-sref-active="active" ng-class="{ 'inactive' : vm.currentUrl('/tech') === false, 'mobile-display' : vm.mobileScreen == true }"><a ui-sref="tech">Technology</a></li>
			</ul>
		</nav>
		<header>
			<div class="header-content">
				<h1 class="title-heading">Full Stack Developer</h1>
				<p class="intro-heading">Dedicated to constantly improving and committed to building beautiful web applications.</p>
			</div>
		</header>
		<main ui-view role="main">
		</main>
		<footer ng-controller="footerCtrl as vm" id="footer" role="footer">
			<div class="footer-content">
				<h2 id="footer-heading">Contact Details</h2>
				<p>For when you need to reach me</p>
				<p><a href="mailto:alexquang1991@gmail.com">alexquang1991@gmail.com</a></p>
			</div>
		</footer>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
	<script src="/public/all.js"></script>
</body>
</html>