@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

body {
  background: black;
  overflow: auto; }

#header-container {
  width: 100%;
  height: 100%; }

nav {
  width: 100%;
  height: 50px;
  background: #333;
  box-shadow: 3px 2px 4px -2px black;
  border-bottom: 1px solid black;
  position: fixed;
  padding: 0 1.5625em;
  z-index: 9999;
  text-transform: uppercase; }
  nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right; }
    nav > ul .active {
      background: #0d0d0d;
      border-bottom: 3px solid #9358fe; }
    nav > ul .inactive:hover {
      background: #262626; }
    nav > ul > li {
      display: inline-block;
      padding: 0 10px;
      float: left; }
      nav > ul > li > a {
        display: block;
        line-height: 50px;
        min-width: 6.25em;
        height: 50px;
        text-align: center;
        text-decoration: none;
        color: white; }
        nav > ul > li > a:visited, nav > ul > li > a:hover, nav > ul > li > a:link, nav > ul > li > a:active {
          text-decoration: none;
          color: white; }
        nav > ul > li > a > span {
          display: block !important;
          height: 50px;
          line-height: 50px !important; }
  nav #navbar-brand {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left; }
    nav #navbar-brand li {
      display: inline-block; }
      nav #navbar-brand li a {
        display: block;
        line-height: 50px;
        height: 50px;
        min-width: 6.25em;
        text-align: center;
        text-decoration: none;
        color: white; }

main {
  display: block;
  height: 100%;
  width: 100%;
  margin-bottom: 6.25em; }

.mobile-only {
  display: none; }

.mobile-navigation-btn {
  display: none; }

.fixed-content-wrapper {
  height: 100%;
  width: 100%; }

header {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/content/img/htmlpic.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  text-align: center; }
  header .header-content {
    margin: 0 auto;
    padding: 10% 0;
    height: 100%;
    width: 100%;
    color: #fff; }
    header .header-content .title-heading {
      font-size: 6.25em;
      text-transform: uppercase;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 0.625em;
      font-weight: 700;
      opacity: 0.8; }
    header .header-content .intro-heading {
      font-size: 1.875em;
      width: 70%;
      margin: 0 auto;
      opacity: 0.8; }

.content-wrapper {
  width: 100%;
  height: 100%; }
  .content-wrapper .main-content {
    width: 100%;
    height: 100%;
    padding-top: 5.625em;
    background: #333;
    color: white; }
    .content-wrapper .main-content .social-icons-wrapper {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 2.5em; }
      .content-wrapper .main-content .social-icons-wrapper .social-links {
        margin-right: 0.625em; }
    .content-wrapper .main-content p {
      width: 70%;
      margin: 0.625em auto;
      color: #FC407B;
      text-align: justify; }
    .content-wrapper .main-content ul {
      width: 70%;
      padding-left: 18%;
      color: #FCF1CC; }
    .content-wrapper .main-content h2 {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1.25em; }

.content-wrapper.portfolio {
  color: #FC407B;
  padding-top: 5%;
  background: #333; }
  .content-wrapper.portfolio .portfolio-heading {
    font-weight: 700;
    font-size: 3.125em;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.9375em;
    color: #fff; }
  .content-wrapper.portfolio .portfolio-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: auto;
    margin: 0 auto; }
    .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box {
      width: 100%;
      height: auto;
      position: relative; }
      .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box img {
        max-width: 100%;
        height: auto;
        display: block; }
      .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box .pic-sub-header {
        height: 50px;
        background: #fff;
        text-align: center;
        margin: 0;
        line-height: 50px; }
      .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box .pic-overlay {
        display: block;
        position: absolute;
        z-index: 20;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all 0.5s; }
        .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box .pic-overlay a.close-overlay {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 100;
          width: 45px;
          height: 45px;
          font-size: 20px;
          font-weight: 700;
          color: #fff;
          line-height: 45px;
          text-align: center;
          background-color: #000;
          cursor: pointer; }
        .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box .pic-overlay a.close-overlay.hidden {
          display: none; }
        .content-wrapper.portfolio .portfolio-content .row .col-md-6 .picture-box .pic-overlay a.expand {
          display: block;
          position: absolute;
          z-index: 100;
          width: 60px;
          height: 60px;
          border: solid 5px #fff;
          text-align: center;
          color: #fff;
          line-height: 50px;
          font-weight: 700;
          font-size: 30px;
          border-radius: 30px; }

.effect .pic-overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0; }

.effect .pic-overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto 0 auto; }

.effect .picture-box:hover .pic-overlay {
  height: calc(100% - 50px); }

#footer {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  padding-top: 10%;
  text-align: center; }
  #footer .footer-main-content {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto; }
    #footer .footer-main-content #footer-heading, #footer .footer-main-content p {
      text-transform: uppercase;
      font-weight: 700;
      width: 70%;
      margin: 0 auto;
      font-size: 2.8125em; }
    #footer .footer-main-content p {
      margin: 1.25em auto;
      text-transform: none;
      font-size: 1.5625em; }
      #footer .footer-main-content p a {
        color: #FC407B;
        text-decoration: none; }
        #footer .footer-main-content p a:visited, #footer .footer-main-content p a:hover, #footer .footer-main-content p a:link, #footer .footer-main-content p a:active {
          text-decoration: none; }
        #footer .footer-main-content p a:hover {
          color: #fb0e58; }
  #footer .copyright-text {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: 0.9375em;
    background: #333; }
  #header-container {
    height: auto; }
  nav {
    padding: 0; }
    nav #navbar-brand {
      display: none; }
  nav > ul {
    width: 100%;
    float: none;
    background: rgba(0, 0, 0, 0.7); }
    nav > ul .active {
      background: rgba(87, 96, 55, 0.9);
      border: 0; }
    nav > ul .inactive:hover {
      background: rgba(0, 0, 0, 0.5); }
    nav > ul > li {
      display: none; }
    nav > ul li.mobile-navigation-btn {
      display: block;
      width: 100%;
      float: none; }
      nav > ul li.mobile-navigation-btn > a {
        display: block;
        width: 100%; }
        nav > ul li.mobile-navigation-btn > a > i {
          display: inline;
          vertical-align: middle; }
    nav > ul li.open-menu {
      background: black; }
    nav > ul li.mobile-display {
      width: 100%;
      display: block;
      float: none;
      height: auto; }
      nav > ul li.mobile-display > a {
        display: block; }
        nav > ul li.mobile-display > a:hover {
          text-decoration: none; }
  .content-wrapper .main-content {
    height: 100%;
    font-size: 0.8125em;
    padding-top: 2.5em; }
    .content-wrapper .main-content .social-icons-wrapper {
      width: 80%; }
      .content-wrapper .main-content .social-icons-wrapper .social-links {
        margin-right: 0.625em; }
    .content-wrapper .main-content p {
      width: 80%;
      color: #FC407B; }
    .content-wrapper .main-content ul {
      width: 80%;
      padding-left: 15%;
      margin: 0.625em 0;
      color: #FCF1CC; }
    .content-wrapper .main-content h2 {
      width: 80%; }
  header {
    height: 300px;
    position: relative; }
    header .header-content {
      padding-top: 5%;
      padding-bottom: 0;
      position: absolute;
      top: 20%; }
      header .header-content .title-heading {
        font-size: 1.875em;
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 0.3125em;
        font-weight: 700;
        opacity: 0.8; }
      header .header-content .intro-heading {
        font-size: 0.9375em;
        width: 70%;
        margin: 0 auto;
        opacity: 0.8; }
  .footer-main-content {
    font-size: 0.875em; }
    .footer-main-content #footer-heading, #footer .footer-main-content p {
      font-size: 0.9375em; }
    .footer-main-content p {
      font-size: 0.9375em; }
      .footer-main-content p a {
        color: #FC407B;
        text-decoration: none; }
        .footer-main-content p a:visited, .footer-main-content p a:hover, .footer-main-content p a:link, .footer-main-content p a:active {
          text-decoration: none; }
        .footer-main-content p a:hover {
          color: #fb0e58; }
  .copyright-text h3 {
    font-size: 0.9375em; } }
