<div class="container-fluid portfolio">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="portfolio-heading">Projects</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/phppic.jpg" alt="A picture of PHP code" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/mateomarin/lunchbunch" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">MunchBunch</h3>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/crimemap.png" alt="A picture of crime maps" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/aquang9124/angu-js-events" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header"><a href="http://54.201.88.44/" target="_blank">Crime Maps</a></h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/cfe.png" alt="A picture of Good Karma Bikes" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/aquang9124/scrum-gkb-cfe" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">Good Karma Bikes</h3>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 effect">
			<div class="picture-box">
				<img src="/content/img/pokemon.png" alt="A picture of project code" class="project-img">
				<div class="pic-overlay">
					<a href="https://github.com/aquang9124/laravel_aq" target="_blank" class="expand">+</a>
				</div>
				<h3 class="pic-sub-header">Laravel Blog</h3>
			</div>
		</div>
	</div>
</div>