<div class="content-wrapper portfolio">
	<h1 class="portfolio-heading">Projects</h1>
	<section class="portfolio-content">
		<div class="row">
			<div class="col-md-6 effect">
				<div class="picture-box">
					<img src="/content/img/phppic.jpg" alt="A picture of PHP code">
					<div class="pic-overlay">
						<a href="https://github.com/mateomarin/lunchbunch" target="_blank" class="expand">+</a>
					</div>
					<h3 class="pic-sub-header">MunchBunch</h3>
				</div>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</section>
</div>