<div class="content-wrapper">
	<section class="main-content">
		<h2>About Me</h2>
		<div class="social-icons-wrapper">
			<a class="btn btn-social-icon btn-github social-links" href="https://github.com/aquang9124"><i class="fa fa-github"></i></a>
			<a class="btn btn-social-icon btn-facebook social-links" href="https://www.facebook.com/itsalexquang"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-social-icon btn-linkedin social-links" href="https://www.linkedin.com/in/alexnquang"><i class="fa fa-linkedin"></i></a>
		</div>
		<p>I am a full stack web developer with a particular passion for front end development. In my spare time, I can usually be found doing any of the following: </p>
		<ul>
			<li>Hanging out with friends and family</li>
			<li>Drinking coffee while writing code</li>
			<li>Reading an article related to programming, space, or the latest technology</li>
			<li>Playing video games</li>
			<li>Watching television (Mostly just Game of Thrones at the moment)</li>
			<li>Reading comic books (I prefer DC over Marvel)</li>
			<li>Solving my daily algorithms</li>
		</ul>
		<p>As a web developer I believe in building in building solid and reliable web applications. I hold myself to a high standard and I don't write sloppy code just to get something done. It is extremely exciting to always have new technologies to learn and to be able to constantly improve my skills with existing technologies.</p>
	</section>
</div>