<div class="content-wrapper">
	<header>
		<h3>
			<hr> Alex Quang <hr>
		</h3>
	</header>
	<section class="mobile-aside-content">
		<div class="social-icons-wrapper">
			<a class="btn btn-social-icon btn-github social-links" href="https://github.com/aquang9124"><i class="fa fa-github"></i></a>
			<a class="btn btn-social-icon btn-facebook social-links" href="https://www.facebook.com/itsalexquang"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-social-icon btn-linkedin social-links" href="https://www.linkedin.com/in/alexnquang"><i class="fa fa-linkedin"></i></a>
		</div>
		<p>Hi! I'm Alex Quang. As a recent college graduate I realized that graduate school was not the path I wanted to pursue and in order to further my passion for technology I decided to immerse myself in the world of web development. Taking out another loan on top of my student loans is a bit scary, but I decided to follow my heart because nothing worth doing is ever done without taking risks.</p>
		<p>Having gone through 14 weeks of rigorous instruction and application development at Coding Dojo, putting in roughly 80 hours a week, I have learned a lot but still find myself hungry and ready to learn. Coding Dojo taught me how to be a self-sufficient developer and I am now looking for fresh opportunities to grow and improve.</p>
	</section>
</div>