<div class="container-fluid technology">
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<section class="tech-box">
				<i class="fa fa-html5 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('html5')"></i>
				<section class="repo-links" ng-show="vm.currentRepo == 'html5'">
					<a href="https://github.com/aquang9124/aquang9124.github.io" target="_blank">When I first started</a>
				</section>
				<section class="tech-title">
					<h3>HTML5</h3>
				</section>
			</section>
			
		</div>
	</div>
</div>