<div class="container-fluid technology">
	<div class="row">
		<div class="col-xs-12">
			<h1>Technologies</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<i class="fa fa-html5 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('html5')"></i>
				<section class="repo-links" ng-show="vm.currentRepo == 'html5'">
					<a href="https://github.com/aquang9124/aquang9124.github.io" target="_blank">Early html project</a>
				</section>
				<section class="tech-title">
					<h3>HTML5</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<i class="fa fa-css3 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('css3')"></i>
				<section class="repo-links" ng-show="vm.currentRepo == 'css3'">
					<a href="https://github.com/aquang9124/aquang9124.github.io" target="_blank" title="Showcases some of my best CSS">Development Portfolio</a>
				</section>
				<section class="tech-title">
					<h3>CSS3</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('php')">
					<img class="tech-pic" src="/content/img/phpicon.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'php'">
					<a href="https://github.com/aquang9124/great_number_game">Great Number Game</a>
					<a href="https://github.com/aquang9124/ninjagoldCI" target="_blank" title="Ninja Gold Game built with CodeIgniter">Ninja Gold Game CI</a>
					<a href="https://github.com/aquang9124/user_dashboard">User Dashboard</a>
				</section>
				<section class="tech-title">
					<h3>PHP</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('js')">
					<img class="tech-pic" src="/content/img/js_icon.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'js'">
					<a href="https://github.com/aquang9124/js_scroll_fantastic_fiesta">Text Scroll</a>
					<a href="https://github.com/aquang9124/testchat-ex-sockets" title="chatroom created using socket.io and javascript">Chatroom Socket.io</a>
					<a href="https://github.com/aquang9124/aquang-js-algos">Algorithms in JavaScript</a>
				</section>
				<section class="tech-title">
					<h3>JavaScript</h3>
				</section>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('python')">
					<img class="tech-pic" src="/content/img/pythonico.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'python'">
					<a href="https://github.com/aquang9124/aq_python_text_game">Text Adventure</a>
					<a href="https://github.com/aquang9124/tdd_underscore">Underscore Library</a>
				</section>
				<section class="tech-title">
					<h3>Python</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('laravel')">
					<img class="tech-pic" src="/content/img/laravel_icon.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'laravel'">
					<a href="https://github.com/aquang9124/laravel_product_list">Product List</a>
					<a href="https://github.com/aquang9124/blog-cards-laravel" target="_blank">Note Posts</a>
					<a href="https://github.com/aquang9124/books_laravel" target="_blank">Book Reviews App</a>
				</section>
				<section class="tech-title">
					<h3>Laravel</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('angular')">
					<img class="tech-pic" src="/content/img/anguico.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'angular'">
					<a href="https://github.com/aquang9124/angu-js-full-mini-store">MEAN Mini Store</a>
					<a href="https://github.com/aquang9124/angu-js-spa-weather">One Page Weather</a>
					<a href="https://github.com/aquang9124/angjs_orders_app">Orders App</a>
				</section>
				<section class="tech-title">
					<h3>AngularJS</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('django')">
					<img class="tech-pic" src="/content/img/prog_django.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'django'">
					<a href="https://github.com/aquang9124/e_comms_django">Idea Wall</a>
					<a href="https://github.com/aquang9124/cardsapp-django-exp">Cards App</a>
				</section>
				<section class="tech-title">
					<h3>Django</h3>
				</section>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon" ng-click="vm.setRepo('flask')">
					<img class="tech-pic" src="/content/img/flask.png">
				</div>
				<section class="repo-links" ng-show="vm.currentRepo == 'flask'">
					<a href="https://github.com/aquang9124/flask_friends_full">Full Friends</a>
					<a href="https://github.com/aquang9124/ninja_gold_flask">Ninja Gold Flask</a>
					<a href="https://github.com/aquang9124/flask_wall_test">The Wall - Flask Edition</a>
				</section>
				<section class="tech-title">
					<h3>Flask</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/mysqlico.png">
				</div>
				<section class="tech-title">
					<h3>MySQL</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/dbs_postgresql.png">
				</div>
				<section class="tech-title">
					<h3>PostgreSQL</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/nodejs.png">
				</div>
				<section class="tech-title">
					<h3>NodeJS</h3>
				</section>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/apache_server.png">
				</div>
				<section class="tech-title">
					<h3>Apache</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/dbs_mongodb.png">
				</div>
				<section class="tech-title">
					<h3>MongoDB</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/bootstrap.png">
				</div>
				<section class="tech-title">
					<h3>Bootstrap</h3>
				</section>
			</section>
		</div>
		<div class="col-md-3">
			<section class="tech-box">
				<div class="tech-icon no-repo">
					<img class="tech-pic" src="/content/img/jquery.png">
				</div>
				<section class="tech-title">
					<h3>jQuery</h3>
				</section>
			</section>
		</div>
	</div>
</div>