@import "bourbon";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Global Stylings

// Stylings for html, body
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

body {
	background: black;
	overflow: auto;
}

// Navigation menu stylings
nav {
	width: 100%;
	height: 50px;
	background: #333;
	box-shadow: 3px 2px 4px -2px black;
	border-bottom: 1px solid black;
	position: fixed;
	padding: 0 em(25);
	z-index: 9999;
	text-transform: uppercase;

	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;

		.active {
			background: #9358FE;
		}

		.inactive {
			&:hover {
				background: lighten(black, 15%);
			}
		}

		> li {
			display: inline-block;
			padding: 0 10px;
			float: left;

			> a {
				display: block;
				line-height: 50px;
				min-width: em(100);
				height: 50px;
				text-align: center;
				text-decoration: none;
				color: white;

				&:visited, &:hover, &:link, &:active {
					text-decoration: none;
					color: white;
				}

				> span {
					display: block !important;
					height: 50px;
					line-height: 50px !important;
				}
			}
		}
	}

	#navbar-brand {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: left;

		li {
			display: inline-block;
			
			a {
				display: block;
				line-height: 50px;
				height: 50px;
				min-width: em(100);
				text-align: center;
				text-decoration: none;
				color: white;
			}
		}
	}
}

// Main content stylings
main {
	display: block;
	height: 100%;
	width: 100%;
	margin-bottom: em(100);
}

// Class stylings

.mobile-only {
	display: none;
}

.mobile-navigation-btn {
	display: none;
}

.fixed-content-wrapper {
	height: 100%;
	width: 100%;
}

// When the screen is not in mobile view, header is not limited.
header {
	height: 100%;
	width: 100%;
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.65), 
	      rgba(0, 0, 0, 0.65)
	    ),
		url('/content/img/htmlpic.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;

	.header-content {
		margin: 0 auto;
		padding: 10% 0;
		height: 100%;
		width: 100%;
		color: #fff;

		.title-heading {
			font-size: em(100);
			text-transform: uppercase;
			width: 80%;
			margin: 0 auto;
			margin-bottom: em(10);
			font-weight: 700;
			opacity: 0.8;
		}

		.intro-heading {
			font-size: em(30);
			width: 70%;
			margin: 0 auto;
			opacity: 0.8;
		}
	}
}
.content-wrapper {
	width: 100%;
	height: 100%;
	
	// Main content takes up 100% of screen
	// When you scroll down the header completely
	// disappears. It's kinda cool
	.main-content {
		width: 100%;
		height: 100%;
		padding-top: em(90);
		background: #333;
		color: white;

		.social-icons-wrapper {
			width: 70%;
			margin: 0 auto;
			margin-bottom: em(40);
			
			.social-links {
				margin-right: em(10);
			}

		}

		p {
			width: 70%;
			margin: em(10) auto;
			color: #FC407B;
			text-align: justify;

		}

		ul {
			width: 70%;
			padding-left: 18%;
			color: #FCF1CC;
		}

		h2 {
			width: 70%;
			margin: 0 auto;
			margin-bottom: em(20);
		}
	}

}

// footer stylings
#footer {
	position: relative;
	clear: both;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	padding-top: 10%;
	text-align: center;

	.footer-main-content {
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		margin: 0 auto;

		#footer-heading {
			text-transform: uppercase;
			font-weight: 700;
			width: 70%;
			margin: 0 auto;
			font-size: em(45);
		}

		p {
			@extend #footer-heading;
			margin: em(20) auto;
			text-transform: none;
			font-size: em(25);

			a {
				color: #FC407B;;
				text-decoration: none;

				&:visited, &:hover, &:link, &:active {
					text-decoration: none;
				}

				&:hover {
					color: darken(#fc407b, 10%);
				}
			}
		}
	}

	.copyright-text {
		position: absolute;
		top: 60%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

// Media Queries
@media only screen and (min-width: 320px) and (max-width: 767px) {
	// Put background on body to account for varying heights of
	// mobile devices breaking the styling.
	body {
		font-size: em(15);
		background: #333;
	}

	// Remove the padding on the navigation bar
	nav {
		padding: 0;

		#navbar-brand {
			display: none;
		}
	}
	// Stylings for the ul and everything inside of it
	nav > ul {
		width: 100%;
		float: none;
		background: rgba(0, 0, 0, 0.7);

		.active {
			background: rgba(87, 96, 55, 0.9);
		}

		.inactive {
			&:hover {
				background: rgba(0, 0, 0, 0.5);
			}
		}

		> li {
			display: none;
		}

		li.mobile-navigation-btn {
			display: block;
			width: 100%;
			float: none;

			> a {
				display: block;
				width: 100%;

				> i {
					display: inline;
					vertical-align: middle;
				}
			}
		}

		li.open-menu {
			background: darken(#333, 35%);
		}

		li.mobile-display {
			width: 100%;
			display: block;
			float: none;
			height: auto;
			

			> a {
				display: block;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	// Keeping this class simple. Note to self: SASS extends should improve reusability.
	.content-wrapper {

		.main-content {
			height: 100%;
			font-size: em(13);
			padding-top: em(40);

			.social-icons-wrapper {
				width: 80%;
				
				.social-links {
					margin-right: em(10);
				}

			}

			p {
				width: 80%;
				color: #FC407B;
			}

			ul {
				width: 80%;
				padding-left: 15%;
				margin: em(10) 0;
				color: #FCF1CC;
			}

			h2 {
				width: 80%;
			}

		}
	}

	header {
		height: 300px;
		position: relative;

		.header-content {
			padding-top: 5%;
			padding-bottom: 0;
			position: absolute;
			top: 20%;

			.title-heading {
				font-size: em(30);
				text-transform: uppercase;
				width: 80%;
				margin: 0 auto;
				margin-bottom: em(5);
				font-weight: 700;
				opacity: 0.8;
			}

			.intro-heading {
				font-size: em(15);
				width: 70%;
				margin: 0 auto;
				opacity: 0.8;
			}
		}
	}

	.footer-main-content {
		font-size: em(14);

		#footer-heading {
			font-size: em(15);
		}

		p {
			font-size: em(15);

			a {
				color: #FC407B;;
				text-decoration: none;

				&:visited, &:hover, &:link, &:active {
					text-decoration: none;
				}

				&:hover {
					color: darken(#fc407b, 10%);
				}
			}
		}
	}

	.copyright-text {
		h3 {
			font-size: em(15);
		}
	}
}